.venv
app_gpa/__pycache__
app_gpa/detailed/__pycache__
restore_obj.sql
extension_map.json
arch
./test_cases
app_gpa_structure.json
extension_map.json
*.log
TreeINsideGit.py
backup_to_zip.py
get_project_struct.py
restore_from_zip.py
